h2{
	text-align: center;
	color: #987A96;
}
.sort{
	display: block;
	position: relative;
	width: 500px;
	height: 280px;
	background: #eee;
	margin: 20px;
}

.sort_left{
	display: inline-block;
	float: left;
	width: 185px;
}

.sort_right{
	display: inline-block;
	float: right;
	margin-right: 30px;
	width: 285px;
}


.sort_menu{
	-webkit-border-radius: 5%;
	-o-border-radius: 5%;
	border-radius: 5%;
	width: 125px;
	height: 30px;
	margin: 15px 0 15px 30px;
	background: #cecece;
}
.sort_right_menu{
	-webkit-border-radius: 5%;
	-o-border-radius: 5%;
	border-radius: 5%;
	height: 30px;
	margin: 15px 5px 15px 5px;
	background: #cecece;
}
.non_sort_type{
display: inline-block;
float: right;
width: 30px;
height: 30px;
margin-right: 5px;
background: #cecece;
}
.non_sort_type:hover{
	cursor: pointer;
}



#text_menu{
	margin-left: 30px;
	text-align: center;
	font-style: italic;
	 font-size: 20px;
	 font-weight: bold;
	 text-decoration: none;
	 color: #987A96;
}


.block_pokemons{
	display: block;
	position: relative;
	margin: 5px;
}
.pokemon{
	display: block;
	position: relative;
	max-width: 200px;
	min-height: 250px;
	float: left;
	margin-left: 25px;
	margin-right: 25px;
}
#T{
	display: inline-block;
	margin: 6px;
	width: 30px;
	height: 30px;
}
#T:hover{
	cursor: pointer;
}
.types{
	-webkit-border-radius: 5%;
	-o-border-radius: 5%;
	border-radius: 5%;
	margin-right: 5px;
	margin-left: 5px;
	background: #cecece;
}
.content{
	display: block;
	position: relative;
	width: 500px;
	background: #eee;
	margin: 20px;
	padding-bottom: 30px;
}
.content_left, .content_right{
	display: inline-block;
	margin-top: 30px;
	width: 200px;
	height: 130px;
	background: #fff;
}



.content_left{
	margin-left: 30px;
}
.content_right{
	float: right;
	margin-right: 30px;
}
.content_right:hover{
	cursor: pointer;
}

#str_type, #str_view, #str_growth, #str_weight{
	text-align: center;
	font-style: italic;
	 font-size: 17px;
}

.type, .view, .growth, .weight{
	color: #987A96;
	text-w
}

.special{
	color: #F4EA05;
	font-weight: bold;
}
.physical{
	color: #d5dded;
	font-weight: bold;
}
