
<div ng-controller="View1Ctrl">

	<div class="sort">
		<p><h2>Сортировка</h2></p>
		<hr>
		<div class="sort_left">
			<div class="sort_menu" > 
				<a id="text_menu" href="" ng-click="predicate=''">Топ</a>
			</div>
			<div class="sort_menu" > 
				<a id="text_menu" href="" ng-click="predicate='name'">Имя</a>
			</div>
			<div class="sort_menu" > 
				<a id="text_menu" href="" ng-click="predicate='-weight'">Вес</a>
			</div>
			<div class="sort_menu" > 
				<a id="text_menu" href="" ng-click="predicate='growth'">Рост</a>
			</div>
		</div>

		<div class="sort_right">
			<div class="sort_right_menu" > 
				<a href="" id="text_menu">Типы</a>
				<div class="non_sort_type" ng-click="type=''">
				<img width="28px" src="https://lh6.googleusercontent.com/proxy/kdngN7Hv8kEIjwp7FtwfhfBu3_7c-sov2rmCUPgV-V2LTboCTuGIOxuqwTU0CSfua2rLKMkzCJyCT4hD9p5_t4zRQVI7yPvxpoQCINFubWKP1kYL-JXpM5Zp=w1200-h630-p-k-no-nu" alt="убрать фильтр" title="убрать фильтр">
				</div>
			</div>

			<div class="types">
				<div id="T" ng-click="type='нормальный'">
					<img width="30px" src="https://vignette2.wikia.nocookie.net/pokemon/images/4/48/%D0%9D%D0%BE%D1%80%D0%BC%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D0%B9.png/revision/latest?cb=20160720094504&path-prefix=ru" alt="нормальный" title="нормальный">
				</div>
				<div id="T" ng-click="type='боевой'">
					<img width="30px" src="https://vignette2.wikia.nocookie.net/pokemon/images/6/6a/%D0%91%D0%BE%D0%B5%D0%B2%D0%BE%D0%B9.png/revision/latest?cb=20160720094449&path-prefix=ru" alt="боевой" title="боевой">
				</div>
				<div id="T" ng-click="type='каменный'">
					<img width="30px" src="https://vignette1.wikia.nocookie.net/pokemon/images/c/c6/%D0%9A%D0%B0%D0%BC%D0%B5%D0%BD%D0%BD%D1%8B%D0%B9.png/revision/latest?cb=20160720094451&path-prefix=ru" alt="каменный" title="каменный">
				</div>
				<div id="T" ng-click="type='земляной'">
					<img width="30px" src="https://vignette3.wikia.nocookie.net/pokemon/images/a/ac/%D0%97%D0%B5%D0%BC%D0%BB%D1%8F%D0%BD%D0%BE%D0%B9.png/revision/latest?cb=20160720094451&path-prefix=ru" alt="земляной" title="земляной">
				</div>
				<div id="T" ng-click="type='стальной'">
					<img width="30px" src="https://vignette1.wikia.nocookie.net/pokemon/images/d/df/%D0%A1%D1%82%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D0%B9.png/revision/latest?cb=20160720094543&path-prefix=ru" alt="стальной" title="стальной">
				</div>
				<div id="T" ng-click="type='призрачный'">
					<img width="30px" src="https://vignette4.wikia.nocookie.net/pokemon/images/a/a3/%D0%9F%D1%80%D0%B8%D0%B7%D1%80%D0%B0%D1%87%D0%BD%D1%8B%D0%B9.png/revision/latest?cb=20160720094542&path-prefix=ru" alt="призрачный" title="призрачный">
				</div>
				<div id="T" ng-click="type='ядовитый'">
					<img width="30px" src="http://groog.ru/wp-content/uploads/2016/07/Poison.png" alt="ядовитый" title="ядовитый">
				</div>
				<div id="T" ng-click="type='летающий'">
					<img width="30px" src="https://vignette3.wikia.nocookie.net/pokemon/images/0/0c/%D0%9B%D0%B5%D1%82%D0%B0%D1%8E%D1%89%D0%B8%D0%B9.png/revision/latest?cb=20160720094452&path-prefix=ru" alt="летающий" title="летающий">
				</div>
				<div id="T" ng-click="type='насекомое'">
					<img width="30px" src="https://vignette4.wikia.nocookie.net/pokemon/images/0/09/%D0%9D%D0%B0%D1%81%D0%B5%D0%BA%D0%BE%D0%BC%D1%8B%D0%B9.png/revision/latest?cb=20160720094453&path-prefix=ru" alt="насекомое" title="насекомое">
				</div>
				<div id="T" ng-click="type='водный'">
					<img width="30px" src="https://vignette.wikia.nocookie.net/pokemon/images/f/f4/%D0%92%D0%BE%D0%B4%D0%BD%D1%8B%D0%B9.png/revision/latest?cb=20160720094449&path-prefix=ru" alt="водный" title="водный">
				</div>
				<div id="T" ng-click="type='огненный'">
					<img width="30px" src="https://vignette3.wikia.nocookie.net/pokemon/images/8/89/%D0%9E%D0%B3%D0%BD%D0%B5%D0%BD%D0%BD%D1%8B%D0%B9.png/revision/latest?cb=20160720094541&path-prefix=ru" alt="огненный" title="огненный">
				</div>
				<div id="T" ng-click="type='травяной'">
					<img width="30px" src="http://img08.deviantart.net/b137/i/2014/242/f/a/grass_medallion_by_zekrom_9-d7x8iod.png" alt="травяной" title="травяной">
				</div>
				<div id="T" ng-click="type='волшебный'">
					<img width="30px" src="https://vignette1.wikia.nocookie.net/pokemon/images/d/d7/%D0%92%D0%BE%D0%BB%D1%88%D0%B5%D0%B1%D0%BD%D1%8B%D0%B9.png/revision/latest?cb=20160720094450&path-prefix=ru" alt="волшебный" title="волшебный">
				</div>
				<div id="T" ng-click="type='ледяной'">
					<img width="30px" src="https://vignette3.wikia.nocookie.net/pokemon/images/5/5e/%D0%9B%D0%B5%D0%B4%D1%8F%D0%BD%D0%BE%D0%B9.png/revision/latest?cb=20160720094452&path-prefix=ru" alt="ледяной" title="ледяной">
				</div>
				<div id="T" ng-click="type='электрический'">
					<img width="30px" src="http://groog.ru/wp-content/uploads/2016/07/Electric.png" alt="электрический" title="электрический">
				</div>
				<div id="T" ng-click="type='темный'">
					<img width="30px" src="https://vignette1.wikia.nocookie.net/pokemon/images/d/d4/%D0%A2%D1%91%D0%BC%D0%BD%D1%8B%D0%B9.png/revision/latest?cb=20160720094543&path-prefix=ru" alt="темный" title="темный">
				</div>
				<div id="T" ng-click="type='драконий'">
					<img width="30px" src="https://vignette3.wikia.nocookie.net/pokemon/images/1/1f/%D0%94%D1%80%D0%B0%D0%BA%D0%BE%D0%BD%D0%B8%D0%B9.png/revision/latest?cb=20160720094451&path-prefix=ru" alt="драконий" title="драконий">
				</div>
				<div id="T" ng-click="type='психический'">
					<img width="30px" src="https://vignette1.wikia.nocookie.net/pokemon/images/b/b8/%D0%9F%D1%81%D0%B8%D1%85%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B8%D0%B9.png/revision/latest?cb=20160720094542&path-prefix=ru" alt="психический" title="психический">
				</div>
			</div>
		</div>
	</div>


	<div class="content">
		<div  ng-repeat="pokemon in pokemons | orderBy:predicate:reverse | filter: type">

			<div class="content_left">
				<div ng-class="	pokemon.typeOf === 'Специальный' ? 'special' : 'physical' " id="str">
					{{pokemon.name}}
				</div>
				<div class="type" id="str_type">
					{{pokemon.type}}
				</div>
				<div class="view" id="str_view">
					{{pokemon.view}}
				</div>
				<div class="growth" id="str_growth">
					{{pokemon.growth}} м.
				</div>
				<div class="weight" id="str_weight">
					{{pokemon.weight}} кг.
				</div>
			</div>

			<div class="content_right" title="{{pokemon.name}}" ng-click="alert_name(pokemon.name)">
				<img src="{{pokemon.url}}" height="130px" alt="{{pokemon.name}}">
			</div>
		</div>
	</div>

</div>